
h1 {

}

h2 {

}



#image1 {
  width: 30%;
  height: auto;
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  height: 100vh;
  color: white;
  background-position: center;
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#home {
  background-color: blue;
}


@media only screen and (max-width: 576px){
  #image1 {
    width: 100%;
  }
  .jumbotron {
    padding-top: 150px;
  }
  #title{
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px){
  #image1 {
    width: 70%;
  }
  #title{
    padding-bottom: 20px;
  }
}
