
h1 {
  color: blue;
}

h2 {
  color: red;
}



#image1 {
  width: 30%;
  height: auto;
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  height: 100vh;
  color: white;
  background-position: center;
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#home {
  background-color: blue;
}
