
h1 {
  color: blue;
}

h2 {
  color: red;
}

#image1 {
  display: block;
  max-width: 60vw;
  height: 60vh;
  margin-left: auto;
  margin-right: 80vw;
}

.jumbotron {
  height: 100vh;
  color: white;
  background-position: center;
}

.navbar {
  margin-bottom: 0px;
}

#home {
  background-color: blue;
}
